.amplify-flex {
  border: 1px solid black !important;
}

#searchResults {

}

.searchResult {

}














.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 15px;
  border-top: 1px solid black;
}

  .App-header > * {
    margin-right: 4vh;
    margin-top: 3vh;
    padding-right: 2vh;
    padding-top: 2vh;
    cursor: pointer;
    /*border: 1px solid #cdcdcd;*/
    /*padding: 8px 9px;*/
    /*border-radius: 50%;*/
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
