:root {
    --header-height: 2vh;
}

.App {
    height: 100vh;
    background-color: var(--amplify-colors-orange-20);
}

#navigation {
    padding: var(--header-height) 3vw 0 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#content {
    padding-top: calc( var(--header-height) + 8vh );
    z-index: 1;
}

#userBadge:hover {
    cursor: pointer;
}

#menu {
    text-align: left;
    padding: 20px;
}

#menu_LoggedIn {

}

#menu_LoggedOut {

}

.error {
    padding: 5px;
}

#navigation {
    z-index: 1;
}

#content {
    z-index: 10;
}

#createMediaForm {

}

#searchResults {

}

.amplify-link.searchResult {
    margin: 20px 0 10px 0;
}

.searchResult {
    margin: 10px 0px;
}

.searchResult:last-child {
    margin-bottom: 20px;
}

.searchHighlight {
    font-weight: bold;
}

.nogap {
    gap: 0 !important;
}

.flexItem {
    flex: 0 1 auto;
}

.bumpOut.right {
    background-color: white;
    border-left: 1px solid black;
    position: fixed;
    right:0px;
    top:0px;
    height:100%;
    z-index: 20;
    width: 300px;
}

.bumpOut.hidden.right {
    right: -300px;
}

.slide.right {
    transition: right .2s;
}

.bumpToggle {
    position: relative;
    top: 15px;
}

.bumpOut.right .bumpToggle {
    left: -70px;
}